body {
  max-width: 720px;
  margin: auto;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

body > * {
  margin: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.0;
}

a {
  color: #2d2df6;
}

hr {
  border: 1px solid #888888;
}

.project img {
  display: block;
  margin: auto;
  max-width: 50%;
}

@media (min-width: 550px) {
  .project {
    position: relative;
    padding-left: 8rem;
  }

  .project img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 7rem;
  }
}
