body {
  max-width: 960px;
  margin: 0 auto;
  padding: 1em 3%;
  font-family: Arial, sans-serif;
  line-height: 1.4;
}

h1, h2 {
  line-height: 1.15;
  margin: 0;
  border-bottom: 2px solid black;
}

.social {
  float: right;
}
.social a {
  text-decoration: none;
}
.social img {
  margin-left: 0.2em;
  height: 2em;
}
